@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


.swiper {
    overflow: visible !important;
}

.swiper-wrapper {
    padding-bottom: 20px;
}

.swiper-slide {
    height: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
    background: none !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    transition: all 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px !important;
    font-weight: bold;
}
